<script src="~/AngularApp/Controllers/portalController.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<div ng-controller="PortalController as pc" ng-cloak>
    <div layout="row">
        <span class="md-headline" style="cursor:pointer; color:rgb(83,109,254);" ng-click="pc.Navigate('/')"><u>Home</u></span>
        <span class="md-headline">-></span>
        <span class="md-headline">Record Your Catch</span>
    </div>

</div>
