<script src="~/AngularApp/Services/navigationService.js"></script>
<script src="~/AngularApp/Controllers/adminController.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<div ng-controller="AdminController as nc" class="md-padding" ng-cloak>
    <div layout="row">
        <span class="md-headline" style="cursor:pointer; color:rgb(83,109,254);" ng-click="nc.Navigate('/')"><u>Home</u></span>
        <span class="md-headline">-></span>
        <span class="md-headline">Admin</span>
    </div>
    <div layout="row" layout-align="center center" class="m-t-15">
        <div flex="50">
            <md-grid-list md-gutter="10px" class="navtiles" md-cols="4" md-row-height-gt-md="1:1" md-row-height="1:1">
                <md-grid-tile ng-repeat="tile in nc.Tiles"
                              md-rowspan="1"
                              md-colspan="1"
                              ng-class="tile.Background"
                              ng-click="nc.Navigate(tile.Link)">

                    <img ng-src="{{tile.Icon}}" class="tile-image" />
                    <md-grid-tile-footer>
                        <h3>{{tile.Title}}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
        <div flex="50">
            <div layout="row">
                <div flex="100" layout="column" layout-align="center center">
                    <h3 class="md-display-2">Administrative Functionality</h3>
                </div>
            </div>
        </div>
    </div>

</div>


