@using SampleProjectMVCAJSEF.Models
@model LoginViewModel
@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div layout="row" layout-align="center center">
    <md-card flex-gt-xs="30" flex-xs="90">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex class="md-headline text-center">Complete</span>
            </div>
        </md-toolbar>
        <md-card-content>
            <div layout="row" layout-align="center center">
                <p>Please check your email to reset your password.</p>
            </div>
        </md-card-content>
    </md-card>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}